.main {
  width: 70%;
  background-color: whitesmoke;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.links {
  display: flex;
}

.link {
  -webkit-text-fill-color: #008554;
}

.credentials {
  display: flex;
  margin-top: 20px;
}

.user {
  margin-bottom: 0% !important;
}

.btn {
  color: #008554;
  border: 1px solid #008554;
}

.divbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
